  <ul class="transactions">
    <li *ngFor="let transaction of transactions$ | async"
      [class.selected]="transaction.id === selectedId">
      <a [routerLink]="[transaction.id]">
        <span class="badge">{{ transaction.id }}</span>{{ transaction.name }}
      </a>
    </li>
  </ul>

  <router-outlet></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->