<h3>ADMIN</h3>
<nav>
  <a routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  <!--<a routerLink="./transactions" routerLinkActive="active">Manage Transactions</a>-->
  <a routerLink="./rentals" routerLinkActive="active">Manage Transactions</a>
  <!--<a routerLink="./actors" routerLinkActive="active">Manage Actors</a>-->
</nav>
<router-outlet></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
