<!--<h2>RENTALS</h2>-->
<!--<ul class="rentals">
  <li *ngFor="let rental of rentals$ | async"
    [class.selected]="rental.id === selectedId">
    <a [routerLink]="['/rental', rental.id]">
      <span class="badge">{{ rental.id }}</span>{{ rental.firstname }}
    </a>
  </li>
</ul>-->
<p *ngIf="actors$">
    <ng2-smart-table [settings]="settings" [source]="rentals$ | async"></ng2-smart-table>
</p>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
